body {
    margin: 0px;
    background-image: url(./R.jpeg);
}
#container {
    background: rgb(240, 228, 242);
    border: 1px gray;top: 40px;
    height: 700px;
    width: 1000px;
    position: relative;
    top: 40px;
    left: 240px;
    border-radius: 10px;
}
#bor-1 {
    height: 250px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    top: 40px;

}
#bor-1-1 {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    left: 150px;
    top: 50px;
}
#bor-1-2 {
    height: 200px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: relative;
    top: 60px;
    left: 150px;
}

.br {
    background: rgb(255, 255, 255);
    border: 1px gray;
    top: 40px;
    border-radius: 15px;
    height: 30px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#bor-1-b {
    position: relative;
    top: -10px;
    left: 40px;
}
#bor-1-c {
    position: relative;
    top: -20px;
    left: 80px;
}
#bor-2{
        height: 350px;
        width: 1000px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        position: relative;
        top: 150px;
}
.br1 {
    background: rgb(138, 14, 163);
    border: 1px gray;
    top: 40px;
    border-radius: 15px;
    height: 200px;
    width: 250px;
}
#bor-2-2 {
    position: relative;
    top: 10px;
}
#bor-2-3 {
    position: relative;
    top: 20px;
}
.bl {
    color: rgb(210, 213, 213);
    position: relative;
    left: 80px;
    top: -10px;
}
.bt {
    color: rgb(248, 6, 223);
    position: relative;
    left: 80px;
    top: -20px;
}
.bz {
    color: rgb(249, 252, 252);
    position: relative;
    left: 15px;
    top: 0px;
}
.IM {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px ;
    width: 40px ;
    border-radius: 40px;
}
.IMa {
    position: absolute;
    top: 10px;
    left: 80px;
    height: 40px ;
    width: 40px ;
    border-radius: 40px;
}
.IMg {
    height: 30px ;
    width: 120px ;
}
.H {
    color: rgb(62, 15, 106);
}
.C {
    position: relative;
    bottom: 10px;
    color: rgb(87, 33, 39);
}
#Y {
    border-radius: 0% 180px 180px 180px;
    height: 300px;
    width: 400px;
    background-color: rgba(188, 154, 220, 0.137);
    position: relative;
    right: -0px;
    bottom: 40px;
    
}